.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: blueviolet;
    font-size: 40px;
    margin: 0;
}
.nav ul{
display: inline-flex;
list-style-type: none;
margin: 0;
padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    color: blueviolet;
    text-decoration: none;
}
.nav .nav-search input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
}
.nav .nav-search button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-left: 0px;
}
.nav .nav-search {
    margin-top: 5px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
}
h1 a{
    color: blueviolet;
    text-decoration: none;
}