.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
h2{
    text-align: center !important;
    margin-top: 8em;
    color: blueviolet;
    margin-left: 18%;
    position: absolute;
}
  
table{
    text-align: center;
    color: blueviolet;
    margin-top: 20em;
}
table td, table th{
    border: 1px solid blueviolet;
    padding: 10px;
    height: 50px;
}
img{
    width: 100px;
    height: 100px;
}
p{
    color: green;
    text-align: center;
}
.deleteButton{
    color: red;
}
button{
 margin: 2px;
}